# Operating system garbage
.DS_Store
[Tt]humbs.db

# Emacs backup files
*~

# JetBrains Editor Files
/.idea/*

# Builder Script
gitInit.sh

# Composer
/vendor

# VUE 3 modules
frontend_3/node_modules
